<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message API</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>User message from Line Chatbot</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">User Name</label></b>
        </p>
        <p>
            <input type="text" name="content" id="username"
                placeholder="username"></input>
        </p>
        
		<button class='btn btn-default'>Submit</button>

	</form>
    </div>
</body>
</html>